* {
    font-family: "Cutive Mono", monospace;
    color: rgb(55, 55, 55);
    background-color: rgb(214, 255, 147);
  }

/* NAVBAR */

.topnav {
    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: space-evenly;
      font-size: 12px;
    }
    background-color: rgb(51, 50, 50);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(21, 20, 20);
    padding: 1rem; 
    color: rgb(89, 101, 70);
}

li {
    padding: 0.3rem;
    background-color: rgb(21, 20, 20);
    color: rgb(89, 101, 70);
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    font-size: larger;
    color: rgb(219, 226, 231);
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: rgb(21, 20, 20)
}


/* PRIMA PARTE */

#firstimpact {
  @media screen and (max-width: 768px) {
    display: flexbox;
    justify-content: center;
    justify-items: center;
  } 

  @media screen and (max-height: 370px) {
    font-size: 5px;
  }
}

 h1 {
    @media screen and (max-width: 758px) {
      display: flex;
      font-size: 0.2;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      text-align: center;
    }
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-weight: bolder;
 }

 .developer {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-style: italic;
 }

 h2 {
  @media screen and (max-width: 768px){
    display: flex;
    text-align: center;
  };
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
 }

  img {
    height: 20rem;
    width: auto;   
    display: block;
    margin: auto;
    border-radius: 8rem;
  }

  h3 {
    @media screen and (max-width:768px) {
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 1rem;
    }
    font-size: 1.5rem;
    font-style: italic;
    padding-left: 1rem;
    text-shadow: 0.1rem;
  }

  #project-title {
    background-color: rgb(21, 20, 20);
    color:rgb(214, 255, 147);
  }

  /* ABOUT ME */

  .aboutme {
    display: block;
    padding: 2rem 4rem;
    background-color: rgb(21, 20, 20);
  }

  

  .selfdescription {
    text-align: justify;
    background-color: rgb(21, 20, 20);
    color:rgb(214, 255, 147);
  }

  /* PROJECTS */

  .projects {
    display: block;
    padding: 2rem 4rem;

  }

  .showprojects {
    margin-left: 3rem;
    font-size: large;
    color: rgb(214, 255, 147);
    background-color: rgb(21, 20, 20);
  }

  .secret-p {
    padding: 0.5rem;
    background-color: rgb(163, 37, 37);
    font-style: italic;
  }

  /* CONTACT ME */

  .contactme {
    display: flex-box;
    align-content: center;
    width: auto;
    margin: auto;
    padding: 2rem 4rem;
    background-color: rgb(21, 20, 20);
  }

  .contact-nav {
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
    display: flex;
    justify-content: center;
    background-color: rgb(21, 20, 20);
  }

  .btn {
    display: inline-block;
    border: 2px rgba(0, 0, 0, 0.9);
    background: rgb(21, 20, 20);
    margin: 0.5rem;
    letter-spacing: 2px;
  }
  
  .btn:hover {
    color: rgb(255, 255, 255);
    border: 2px rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0, 0.9);
    transform:scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
  }