* {
    font-family: "Cutive Mono", monospace;
    color: rgb(21, 20, 20);
    background-color: rgb(89, 101, 70);
  }

/* NAVBAR */

nav {
    background-color: rgb(51, 50, 50);
}
ul {
    list-style: none;
    display: flex;
    border: 0.3em rgb(51, 50, 50) solid;
    justify-content: space-around;
    background-color: rgb(51, 50, 50);
    padding: 0.4em; 
}

li {
    padding: 0.3em;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: larger;
    color: rgb(219, 226, 231);
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: rgb(21, 20, 20)
}


/* PRIMA PARTE */

.firstimpact {
    
 } 

 h1 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    font-weight: bolder;
 }

 .developer {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    font-style: italic;
 }

 h2 {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
 }

  img {
    height: 20em;
    width: auto;   
    display: block;
    margin: auto;
  }


  /* ABOUT ME */

  .aboutme {
    display: block;
    padding: 2em 4em;
  }

  h3 {
    font-size: 1.5em;
    font-style: italic;
    padding-left: 1em;
    text-shadow: 0.1em;
  }

  .selfdescription {
    text-align: justify;
  }

  /* PROJECTS */

  .projects {
    display: block;
    padding: 2em 4em;
  }

  /* CONTACT ME */

  .contactme {
    display: block;
    width: auto;
    margin: auto;
    padding: 2em 4em;
  }

  label {
    margin-top: 1em;
  }

  input {
    margin-bottom: 2em;
    background-color: rgb(51, 50, 50);
    color: rgb(233, 224, 224);
  }

  textarea {
    background-color: rgb(51, 50, 50);
    color: rgb(255, 255, 255);
    width: 20em;
    height: 7em;
    font-style: italic;
    margin-bottom: 2em;
  }

  button {
    background-color:rgb(51, 50, 50);
    color: rgb(255, 255, 255);
  }

  button:hover {
    font-size: larger;
  }